@import "tailwindcss";
@theme {
  /* Font */
  --font-sans: "Roboto", sans-serif;

  /* Colors */
  --color-green-light: #e7f3f9;
  --color-green-dark: #b5def2;
  --color-text: #272729;
  --color-blue: #003a92;
  --color-blue-light: #1d90d8;
  --color-sea: #70ede2;
  --color-grey: #BDBDBD;

  /* Font Sizes */
  --font-10: 10px;
  --font-11: 11px;
  --font-12: 12px;
  --font-13: 13px;
  --font-14: 14px;
  --font-16: 16px;
  --font-20: 20px;

  /* Line Heights */
  --leading-10: 10px;
  --leading-12: 12px;
  --leading-14: 14px;
  --leading-16: 16px;
  --leading-20: 20px;
  --leading-24: 24px;

  /* Spacing */
  --space-0_5: 0.125rem;
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-4: 1rem;
  --space-8: 2rem;
  --space-16: 4rem;

  /* Border Radius */
  --radius-default: 0.25rem;
  --radius-2xl: 1rem;
  --radius-full: 9999px;

  /* Shadow */
  --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);

  /* Breakpoints */
  --breakpoint-3xl: 1600px;

  /* Transition Easing */
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-sans);
}
